<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <title>{{{Title}}} </title>

</head>
<body>
     <nav class="navbar has-background-info-dark">
        <div class="navbar-brand">
          <a class="navbar-item">
            <div class="brandName is-size-1 has-text-info-light">Sebastian's Tech Blog</div>
          </a>
        </div>
        {{#if loggedIn}}
            <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
            <a href="/dashboard" class="navbar-item is-hoverable pt-1">Dashboard</a>
            <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">Create A Post</a>
            <button id="logout" class="button is-info">logout</button>
            {{else}}
            <a href="/" class="navbar-item is-hoverable pt-1">Homepage</a>
            <a href="/login" class="navbar-item is-info-light">Login</a>
            {{/if}}
      </nav>

      {{{body}}}

      <footer class="footer has-background-info-dark">
        <div class="content has-text-info-light has-text-centered">
          <p>
            <strong class="content has-text-info-light">Sebastain's Tech Blog</strong> by Sebastian Tischner
            
          </p>
        </div>
      </footer>
      {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
      {{/if}}
</body>
</html>