
    <div class="container has-background-warning-light is-fullheight">
        <div class="hero is-fullheight">
          <h1 class="is-size-1 has-text-centered has-text-weight-bold">Dashboard</h1>
        </div>
        <div>
            <button href="/dashboard/create" id="create-post" class="button has-background-info">New Post</button>
        </div>
        <div>
        {{#if posts.length}}
        </div>

        {{#each posts as |post|}}
        {{> post-info post}}

        <a href="/dashboard/edit/{{post.id}}"><button class="button has-background-info">Edit Post</button></a>
        </div>
        {{/each}}

        {{else}}
        <h5 class="pb-5 has-text centered is-itallic">Currently, there are no posts</h5>
    </div>

    {{/if}}
    
    
