<div class="container has-background-warning-light is-fullheight">
      <div class="hero is-large">
        <h1 class="is-size-1 has-text-centered has-text-weight-bold">Create A New Post</h1>
          <div class="hero-body columns">
              <div class="column is-two-thirds is-flex is-flex-direction-column box has-background-info-light">
                  <div class="label">
                      <label for="Title">Title</label>
                      <input class="input is-dark" type="text" placeholder="Guess What EveryBody!">
                  </div>
                  <div class="label">
                      <label for="content">Content</label>
                      <input class="input is-dark" type="text" placeholder="I learned a for loop today!">
                  </div>
                  <div class="column">
                      <button id="sign-up-button" class="button has-background-info-dark has-text-success-light" type="submit">Sign Up</button>
                  </div>
              </div>
          </div>
      </div>
  </div>