{{> post-info post}}

{{#if loggedIn}}

<form class="comment-form">
    <div>
        <textarea class="ml-5" name="comment-body"></textarea>
    </div>


<div class="column">
    <button id="sign-up-button" class="button has-background-info-dark has-text-success-light is-fullwidth"
        type="submit">Add Comment</button>
</div>


</form>
{{/if}}
{{> comments post.comments}}

{{#if loggedIn}}
<script src-".javascriptcomment.js"></script>
{{/if}}